body {
    margin: 0 auto;
    background-color: #777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    width: 960px;
    font-size: 18px;
    box-sizing: border-box;
}
h1 p {
    background-color: #ebebeb;
    color: #777;
}

#header {
    background-color: #ebebeb;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
#navigation {
    margin-top: 10px;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#middle {
    background-color: #777;
    height: 270px;
    margin-top: 20px;
}
#section {
    float: left;
    background-color: #ebebeb;
    text-align: center;  
    padding-top: 10px;
    width: 495px;
    height: 250px;
    padding-left: 2%;
    padding-right: 2%;
}
#article {
    background-color: #777;
    color: #ebebeb;
    height: 180px;
    padding-top: 2px;
    padding-left: 2%;
    padding-right: 2%;
}
#content-heading {
    background-color: #ebebeb;
    text-align: center;
    color: #777;
    padding: 10px 0px ;
}
#content-words {
    position: relative;
    top: -10px;
    background-color: #ebebeb;
    text-align: center;
    color: #777;
    padding: 10px 0px;
}
#aside {
    float: left;
    width: 405px;
    height: 250px;
    background-color: #ebebeb;
    padding-top: 10px;
    text-align: center;
    margin-left: 20px;
}
#footer {
    clear: left;
    text-align: center;
    background-color: #ebebeb;
    margin-top: 10px;
    padding: 10px 0px;
}